:root {
  /*PRIMARY COLORS*/
  --very-dark-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /*GRADIENT*/
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /*NEUTRAL*/
  --very-dark-graysh-blue: hsl(237, 12%, 33%);
  --dark-blue: hsl(240, 6%, 50%);
}
