* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Kumbh Sans", sans-serif;
}

html {
  font-size: 12px;
}

img {
  max-width: 100%;
}

body {
  height: 100vh;
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 6;
}

/*MAIN*/

main {
  background-color: #fff;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  align-items: center;
  box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.4);
}

.challenge {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: var(--very-dark-blue);
  z-index: -2;
}

.challenge a {
  color: #fff;
  transition: color 0.4s;
}

.challenge a:hover {
  color: var(--soft-red);
}

@media (max-width: 1000px) {
  main {
    grid-template-columns: 1fr;
    width: 300px;
  }

  .challenge {
    font-size: 1rem;
    bottom: 10px;
  }
}
