* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Kumbh Sans", sans-serif;
}

html {
  font-size: 12px;
}

img {
  max-width: 100%;
}

body {
  height: 100vh;
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 6;
}

/*MAIN*/

main {
  background-color: #fff;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 0.9fr 0.8fr;
  align-items: center;
  padding: 70px 70px 70px 0;
}
